{% extends 'myapp/base.html' %}

{% block title %}Applications List - Job Hunt{% endblock %}

{% block content %}
    <h1>Applications List</h1>

    {% if applications %}
    <table>
        <thead>
            <tr>
                <th>Job Title</th>
                <th>Date</th>
                <th>Status</th>
                <th>Platform</th>
                <th>Answered</th>
                <th>Detail</th>
            </tr>
        </thead>
        <tbody>
            {% for app in applications %}
            <tr>
                <td>{{ app.job.title }}</td>
                <td>{{ app.date }}</td>
                <td>{{ app.status.name }}</td>
                <td>{{ app.platform.name }}</td>
                <td>{{ app.is_answered|yesno:"Yes,No" }}</td>
                <td><a href="{% url 'application_detail' app.pk %}">View Detail</a></td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    {% else %}
    <p>Nothing to show for now.</p>
    {% endif %}
{% endblock %}
