{% extends 'myapp/base.html' %}

{% block title %}Job Detail - Job Hunt{% endblock %}

{% block content %}
    <h1>Job Detail</h1>

    <div class="detail">
        <h2>{{ job.title }}</h2>
        <p><strong>Company:</strong> {{ job.company.name }}</p>
        <p><strong>Post Link:</strong> <a href="{{ job.post_link }}" target="_blank">{{ job.post_link }}</a></p>
        <p><strong>Job Summary:</strong></p>
        <div class="notes">{{ job.resume }}</div>
    </div>
{% endblock %}
