{% extends 'base.html' %}
{% block title %}Animal List{% endblock %}
{% block content %}

    <h1>All Animals</h1>
    {% if is_vet or is_secretary %}
        <p><a href="/admin/animal/animal/" class="admin-button" target="_blank">Manage Animals in Admin</a></p>
    {% endif %}
    <p><a href="/" class="admin-button">Go back to Dashboard</a></p>
    <table>
        <tr>
            <th>Name</th>
            <th>Species</th>
            <th>Owner</th>
            <th>Birth Date</th>
            <th>Action</th>
        </tr>
        {% for animal in page_obj %}
        <tr>
            <td>{{ animal.name }}</td>
            <td>{{ animal.specie.name }}</td>
            <td>{% if animal.owner %}{{ animal.owner.first_name }} {{ animal.owner.last_name }}{% else %}Stray{% endif %}</td>
            <td>{{ animal.birth_date|date:"M j, Y" }}</td>
            <td><a href="{% url 'animal_detail' animal.pk %}" target="_blank" class="action-btn">View Details</a></td>
        </tr>
        {% empty %}
        <tr>
            <td colspan="5">No animals yet.</td>
        </tr>
        {% endfor %}
    </table>
    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page=1">&laquo; first</a>
                <a href="?page={{ page_obj.previous_page_number }}">previous</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next</a>
                <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
